# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
egg-info/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Pytest cache
.cache/

# mypy
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Environment variables
.env
*.env

# C extensions
*.so

# Coverage reports
htmlcov/
*.cover
.coverage
.cache
nosetests.xml
coverage.xml
*.coveragerc

# logs
*.log

# Miscellaneous
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# MacOS
.DS_Store

# Windows
Thumbs.db
